.main-logo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1000;
    object-fit: cover;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo {
    display: flex;
    align-items: flex-start;
    position: static;
    margin-top: 40px;

    

}

.nav-links{
    position: static;
    display: flex;
    align-items: center;
    z-index: 999;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-links li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.nav-links li:first-child a {
    margin-left: 0;
}

.BG {
    position: fixed;
    image-rendering: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.youtube-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
}



.youtube-links a {
    text-decoration: none;
    color: purple;
    font-size: 16px;
    background: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.7);
}

.youtube-links a:hover {
    color: blue;
    transition: 0.5s;
    
}

.youtube-links a:active {
    color: yellow;
    transition: 0.5s;
}


.youtube-links2 {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 100;
    
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
}

.youtube-links2 a {
    text-decoration: none;
    color: purple;
    font-size: 16px;
    background: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.7);
}

.youtube-links2 a:hover {
    color: blue;
    transition: 0.5s;
    
}

.youtube-links2 a:active {
    color: yellow;
    transition: 0.5s;
}


.youtube-links3 {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 100;
    
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
}

.youtube-links3 a {
    text-decoration: none;
    color: purple;
    font-size: 16px;
    background: none;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.7);
}

.youtube-links3 a:hover {
    color: blue;
    transition: 0.5s;
    
}

.youtube-links3 a:active {
    color: yellow;
    transition: 0.5s;
}